<header id="headwrapper">
    <div class="head-container">
        <nav class="nav-menu">   
            <a href="/closed" class="nav-link">
                <span class="nav-link-text">
                    Closed site
                </span>
            </a>   
        </nav>
        <nav class="nav-signin-container">
            <a href="/login" class="nav-signin-link">
                <div class="nav-signin-button">
                    Login
                </div>
            </a>   
            <a href="/signup" class="nav-signin-link">
                <div class="nav-signin-button">
                    Sign Up
                </div>
            </a>   
        </nav>
    </div>
</header>